VVExchange.ExchangePlugin.XMLImport/VVExchange.ExchangePlugin.XMLImport/Web References/VVExchangeService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VVExchangeWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVExchangeWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfImportMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportMessageModel" nillable="true" type="tns:ImportMessageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportMessageModel" nillable="true" type="tns:ArrayOfImportMessageModel" />
  <xs:complexType name="ImportMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProfileID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="XMLMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportMessageModel" nillable="true" type="tns:ImportMessageModel" />
</xs:schema>